
@{
    ViewBag.Title = "ListadoVehiculosV2";
    Layout = "~/Views/Shared/_Layout_general.cshtml";
}

@*<link href="~/assets/css/style.css" rel="stylesheet" />*@
@*<link href="~/assets/css/vegas.min - copia.css" rel="stylesheet" />*@
@*<link href="~/assets/css/gijgo - copia.css" rel="stylesheet" />*@
@*<link href="~/assets/css/reset.css" rel="stylesheet" />*@
@*<link href="~/assets/css/material-dashboard.css" rel="stylesheet" />*@
@*<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />*@


<!-- Modal -->
<div class="modal fade" id="ModalTarifaTransporte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar Vehiculo</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card" style="background-color:#EEEEEE;">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="card-title">Eliminación de vehiculo</h4>
                                    <p class="category"></p>
                                </div>
                                <div class="card-content align-center table-responsive">
                                    <input type="hidden" id="txtModalIDVehiculo" name="txtModalIDVehiculo" value="0">
                                    <input type="hidden" id="txtModalPatenteVehiculo" name="txtModalPatenteVehiculo" value="0">
                                    <div class="form-group text-center">
                                        <label class="control-label">Razon de Eliminación</label>
                                        <textarea class="form-control rounded-0" id="txtAreaEliminacion" rows="10"></textarea>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" onclick="eliminarVehiculo()" class="btn btn-primary align-middle">Eliminar Vehiculo</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
<!--FIN MODAL-->
<!-- Single Popular Car Start -->
<h5 style="margin-top:-5.5%; margin-left:7%;">Listado Vehiculos  | Sucursal <b>@ViewBag.SUCURSAL</b></h5>



@*<input onchange="buscarVehiculo()" id="Txtbusqueda" />*@

<div class="card" id="cardListadoVehiculo">
    <div class="card-body pb-5">
        <div class="col-lg-4 col-sm-12 col-md-4 pb-5">
            <div class="form-group">
                <label class="control-label">Patente</label>
                <input type="text" class="form-control" id="busquedaPatente" onclick="limparBuscadores()" placeholder="Busqueda por patente">
                @*<i class="fa fa-search" id="lupita"></i>*@
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-4 pb-5">
            <div class="form-group">
                <label class="control-label">Marca</label>
                <input type="text" class="form-control" id="busquedaMarca" onclick="limparBuscadores()" placeholder="Busqueda por marca">
                @*<i class="fa fa-search" id="lupita"></i>*@
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-4 pb-5">
            <div class="form-group">
                <label class="control-label">Precio</label>
                <input type="text" class="form-control" id="busquedaPrecio" onclick="limparBuscadores()" placeholder="Busqueda por precio">
                @*<i class="fa fa-search" id="lupita"></i>*@
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    @foreach (var vehiculo in ViewBag.ListadoVehiculos)
    {
        <div id="card-@vehiculo.ID_VEHICULO" class="col-lg-4 col-md-3 col-sm-1 con suv mpv d-flex ContenedoresVehiculos">
            <div class="card" style="border-radius:12px;">
                <div class="card-content">
                    <div class="col-lg-12 col-md-10 col-sm-8 col-xs-7">
                        <div class="single-popular-car" style="margin-bottom:4%;">
                            <div class="p-car-thumbnails">
                                <a class="car-hover">
                                    <center>
                                        <img src="@vehiculo.IMAGEN_PRINCIPAL" alt="JSOFT" class="img-responsive cardVehiculo" />
                                    </center>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="p-car-content">
                        <div class="col-md-12">

                            <h4 style="margin-bottom:1%;">
                                @if (vehiculo.MARCA == "" && vehiculo.NOMBRE_MODELO == "")
                                {
                                    <br>

                                }
                                else
                                {
                                    <a href="@Url.Action("FormularioDetalleVehiculo","MantenedorVehiculo")?ID=@vehiculo.ID_VEHICULO" class="Marca">@vehiculo.MARCA @vehiculo.NOMBRE_MODELO</a>

                                }
                            </h4>
                            <hr style="margin-top:0px;" />
                            <div class="col-md-9">
                                <p>Precio: <b style="font-size:14px;" class="Precio" id="txtPrecio-@vehiculo.ID_VEHICULO">$@vehiculo.PRECIO_VENTA.ToString("#,##0")</b></p>
                                <p>Patente:  <b style="font-size:14px; font-weight:bold" class="Patente" id="txtPatente-@vehiculo.ID_VEHICULO">@vehiculo.PATENTE.ToUpper()</b></p>
                            </div>
                            <div class="col-md-3">
                                @if (vehiculo.ID_TIPO_CONSIGNACION == 4)
                                {
                                    <i style="margin-top:10%; font-size:2.1em;" class="fas fa-car-side"></i>
                                }
                                else if (vehiculo.ID_TIPO_CONSIGNACION == 5)
                                {
                                    <i style="margin-top:10%; font-size:2.1em;" class="fas fa-handshake"></i>
                                }
                                else
                                {<i style="font-size:2.1em; color:black" Class="material-icons iconoCardVehiculo">info</i>}
                            </div>
                        </div>


                    </div>
                </div>
                <div class="card-footer" style="margin:0px; padding-top:0px;border-top:none; ">
                    <div class="col-md-12 col-sm-12 col-xs-12 colFooter">
                        <div class="col-md-6 col-sm-6 col-xs-6 btn-secondary btnFooterLeft" onclick="editarVehiculo(@vehiculo.ID_VEHICULO);">
                            <i Class="material-icons iconoCardVehiculo">create</i>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 btn-danger btnFooterRight" onclick="mostrarModal('@vehiculo.ID_VEHICULO', '@vehiculo.PATENTE')">
                            <i Class="material-icons iconoCardVehiculo">delete_sweep</i>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Single Popular Car End -->
        </div>

    }
</div>

<script>
    $(document).ready(function () {

        $('#busquedaPrecio').autoNumeric('init', { vMin: '0', vMax: '9999999999', aDec: '.', aSign: '', mDec: '0' });
    });


    function limparBuscadores() {
        $('.ContenedoresVehiculos').show();
        $('#busquedaPatente').val("");
        $('#busquedaMarca').val("");
        $('#busquedaPrecio').val("");
    }


    ////////////////////////////////////////////filtro por buscador
    //toma el inputs de busqueda
    var busquedaPatente = $('#busquedaPatente');
    var busquedaMarca = $('#busquedaMarca');
    var busquedaPrecio = $('#busquedaPrecio');
    //Toma el contenedor de vehiculos
    var contenedoresVehiculos = $('.ContenedoresVehiculos');
    //por cada vehiculo se iterara(por cada vehiculo encontrado dara una vuelta)
    $(contenedoresVehiculos).each(function () {




        //tomo el contenedor
        var contenedor = $(this);



        //tomo todos los filtros de busqueda de patente
        var filtroPatente = contenedor.find('.Patente');

        var TextoPatente = $(filtroPatente[0]).html();


        $(busquedaPatente).keyup(function () {

            this.value = this.value.toLowerCase();


            if ($(busquedaPatente).val() != '') {
                var txt = TextoPatente.toLowerCase();
                var bus = $(busquedaPatente).val().toLowerCase();
                if (txt.indexOf(bus) > -1) {
                    $(contenedor).show();
                } else {
                    $(contenedor).hide();
                }
            } else {
                $(contenedoresVehiculos).show();
            }
        });


        //tomo todos los filtros de busqueda de Marca
        var filtroMarca = contenedor.find('.Marca');

        var TextoMarca = $(filtroMarca[0]).html();
         $(busquedaMarca).keyup(function () {

            this.value = this.value.toLowerCase();


            if ($(busquedaMarca).val() != '') {
                var txt = TextoMarca.toLowerCase();
                var bus = $(busquedaMarca).val().toLowerCase();
                if (txt.indexOf(bus) > -1) {
                    $(contenedor).show();
                } else {
                    $(contenedor).hide();
                }
            } else {
                $(contenedoresVehiculos).show();
            }
         });


        //tomo todos los filtros de busqueda de Precio
        var filtroPrecio = contenedor.find('.Precio');

        var TextoPrecio = $(filtroPrecio[0]).html();
        TextoPrecio = TextoPrecio.replace('$','');
         $(busquedaPrecio).keyup(function () {

            this.value = this.value.toLowerCase();


            if ($(busquedaPrecio).val() != '') {
                var txt = TextoPrecio.toLowerCase();
                var bus = $(busquedaPrecio).val().split(",").join(".");;

                if (txt.indexOf(bus) > -1) {
                    $(contenedor).show();
                } else {
                    $(contenedor).hide();
                }
            } else {
                $(contenedoresVehiculos).show();
            }
        });

    });

    //Termina buscador de vehiculos

    function mostrarModal(idVehiculo, patente) {
        $('#ModalTarifaTransporte').modal();
        $('#txtModalIDVehiculo').val(idVehiculo);
        $('#txtModalPatenteVehiculo').val(patente);
    }

    //Funcion encargado de buscar por nombres
    function buscarVehiculo() {

        let palabras = $('#Txtbusqueda').val();



        $('.name').each(function (index, elemt) {


            var txt = $(elemt).html().toLocaleLowerCase();
            var bus = que.toLowerCase().replace('amp;','&');

            if (bus === '' || bus === String.empty) {
                $('.lineas').show();
                return false;
            } else {
                if (txt.indexOf(bus) > -1) {
                    $(elemt).parent().show();
                } else {
                    $(elemt).parent().hide();
                }
            }
        });

    }


    $(document).ready(function () {
        console.log("se agrega nuevo mensaje de inicio");
    });

    function editarVehiculo(idVehiculo) {
        location.href = '/MantenedorVehiculo/FormularioEditarVehiculo?ID=' + idVehiculo;

    }
    //Metodo encargado de eliminar el vehiculo
    function eliminarVehiculo() {

        var ID_Vehiculo = $('#txtModalIDVehiculo').val();
        var patenteAEliminar = $('#txtModalPatenteVehiculo').val();
        var razonEliminacion = $('#txtAreaEliminacion').val();

        swal({
            title: 'Automotriz Larrain ',
            text: 'Se Vehiculo con patente <b>'+patenteAEliminar+'</b> se eliminara, ¿Esta seguro de eliminarlo?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#4caf50',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirmar',
            allowEscapeKey: true,
            allowOutsideClick: true,

        }).then(function () {
            gfProceso();
            let razonEliminacion = $('#txtAreaEliminacion').val();

            $.ajax({
                type: "POST",
                url: "/MantenedorVehiculo/EliminarVehiculo",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { IdVehiculo: ID_Vehiculo,razonDeElimninacion: razonEliminacion ,patente:patenteAEliminar},
                success: function (response) {
                    try {
                        var data = jQuery.parseJSON(JSON.stringify(response));

                        if (data.Respuesta == "OK") {

                            swal({
                                title: 'Automotriz Larrain ',
                                text: 'El vehiculo <b>' + patenteAEliminar + '</b> se ha eliminado correctamente',
                                type: 'success',
                                confirmButtonColor: '#4caf50',
                                confirmButtonText: 'OK',
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                                onClose: function () {

                                    location.reload();
                                    gfProceso();

                                }

                            });

                            gfProceso();


                        }  // IF LA RESPUESTA DEL SERVICIO ES NOK ERROR CONTROLADO......
                        else {
                            swal({
                                title: 'Automotriz Larrain',
                                text: data.Detalle_Error + '',
                                type: 'error',
                                confirmButtonColor: '#FE6A00',
                                confirmButtonText: 'OK',
                                confirmButtonClass: 'btn btn-info',
                                allowEscapeKey: false,
                                allowOutsideClick: false,
                            });

                            gfProceso();
                            return false;
                        }

                    } catch (err) { // ACCIÓN DEL ERROR DE JAVASCRIPT

                        swal({
                            title: 'Automotriz Larrain',
                            text: 'Error al eliminar el vehiculo <b>' + patenteAEliminar + '</b>',
                            type: 'error',
                            confirmButtonColor: '#FE6A00',
                            confirmButtonText: 'OK',
                            confirmButtonClass: 'btn btn-info',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });

                        gfProceso();

                        return false;
                    }

                },
                error: function (xhr, textStatus, errorThrown) { // ACCIÓN DEL ERROR DEL SERVICIO AJAX.

                    swal({
                        title: 'Automotriz Larrain',
                        text: 'Error de Conexión' + textStatus + '',
                        type: 'error',
                        confirmButtonColor: '#FE6A00',
                        confirmButtonText: 'OK',
                        confirmButtonClass: 'btn btn-info',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    });

                    gfProceso();
                    return false;
                }
            });


        });


    }

</script>

